@import url("root.css");

section {
    max-height: 100%;
}

.welcome {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

section div:nth-of-type(1) div {
    padding: 0.5em;
}

@media all and (min-width: 992px) {

    .imgsurf {
        max-width: 50%;
        float: bottom;
        margin: 0 auto;
    }


}

@media (max-width: 991px) {

    .imgsurf {
        max-width: 80%;
        margin: 0 auto;
        padding-top: 1em;
    }

}