.a{
    position: relative;
    left: 40em;
}
.table{
    background-color: #2D4263;
    color: whitesmoke;
}
.b{
    width: 40px;
    position: relative;
    left: 15px;
}
.c{
    width: 5%;
    position: relative;
    left: 2%;
}
.d{
    width: 2em;
    position: relative;
    left: 2%;
}
.e{
    width: 2em;
    position: relative;
    left: 2%;
}