header{
    background-color: #191919;
    color: whitesmoke;
}

.a{
    position: relative;
    left: 40em;
}
.table{
    background-color: #2D4263;
    color: whitesmoke;
}
.b{
    width: 40px;
    position: relative;
    left: 15px;
}
.c{
    width: 5%;
    position: relative;
    left: 2%;
}
.d{
    width: 2em;
    position: relative;
    left: 2%;
}
.e{
    width: 2em;
    position: relative;
    left: 2%;
}
.navbar-toggler {
    border: whitesmoke;
}

header {
    background-color: #191919;
    color: whitesmoke;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 1em;
}

nav {
    border-radius: 1em;
}

header p {
    margin: 0;
    font-size: 2em;
    padding-bottom: 1em;
    font-weight: bolder;
}

section {
    background-color: #2D4263;
    padding: 2em 2em 10em;
    color: whitesmoke;
}

footer {
    background-color: #191919;
    color: whitesmoke;
    padding: 1em 1em 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#creators {
    font-weight: bold;
    font-size: 1.25em;
}

#sponsors {
    font-weight: bold;
    font-size: 1.25em;
}

footer div:nth-of-type(1) {
    max-width: 50%;
    float: left;
}

footer div:nth-of-type(2) {
    max-width: 50%;
    float: right;
    text-align: right;
}