:root {
    --hfback: #191919;
    --primaryback: #2D4263;
    --contentback: #1F2E41FF;
}

* {
    font-size: 16px;
    color: whitesmoke;
}

.navbar-toggler {
    border: whitesmoke;
}

header {
    background-color: var(--hfback);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 20vh;
}

nav {
    border-radius: 1em;
}

header p {
    margin: 0;
    font-size: 2em;
    padding-bottom: 1em;
    font-weight: bolder;
}

section {
    background-color: var(--primaryback);
    padding: 1em 0;
    width: 100%;
    min-height: 80vh;
}

footer {
    background-color: var(--hfback);;
    padding: 1em 1em 0 1em;
    position: fixed;
    bottom: 0;
    width: 100%;

    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

footer:hover {
    opacity: 1;
}

.logoins{
    background-image: url(../img/logoinspla.png);
    background-size: 5em;
    background-repeat: no-repeat;
    height: 20vh;
    min-width: 100%;
}

#creators {
    font-weight: bold;
    font-size: 1.25em;
}

#sponsors {
    font-weight: bold;
    font-size: 1.25em;
}

footer div:nth-of-type(1) {
    max-width: 50%;
    float: left;
}

footer div:nth-of-type(2) {
    max-width: 50%;
    height: 100% ;
    float: right;
    text-align: right;
}

ul.submenu a.dropdown-item {
    font-size: 0.75em;
}

#box{
    background-color: var(--contentback);
    border-radius: 1em;
    color: whitesmoke;
    padding: 0.5em 1.25em;
    width: 70%;
    margin: 0 auto;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
    border-radius: 1em;
}

@media all and (min-width: 992px) {
    .dropdown-menu li{ position: relative; 	}
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1; cursor: pointer }
    .dropdown-menu > li:hover > .submenu{ display: block; cursor: pointer }

    #inspla { max-width: 10%; }
}

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: 0.5rem;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1; cursor: pointer }
    .dropdown-menu > li:hover > .submenu{ display: block; cursor: pointer}

    #inspla { max-width: 30%; }

    #box {
        width: 80%;
    }

}