@import url("root.css");


.imgsurf {
    max-width: 55%;
    margin-left: 20em;
}
h5{
    margin-left: 12em;
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    
   
  
}
p{
    
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: 3em;
   margin-right: 3em;
 

}

table{
    margin-top: 2em;
    max-width: 30%;
    margin-left: 14em;   
}
