@import url("root.css");


.imgsurf {
    max-width: 55%;
    margin-left: 20em;
}
h5{
    margin: 3em;
  
}
p{
    margin-left: 3em;
    margin-right: 3em;
 

}

table{
    
    margin: 3em;
    
    
}